<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
        <title>Document 1</title>


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;300;500;700;800;900&display=swap" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">
    </head>

    <body class="font-sans dark:bg-black dark:text-white">

        <header class="items-center uppercase text-sm px-5p pt-3 mx-auto">
            <div class="grid grid-cols-2 items-center justify-between border-b-2 border-black pb-3">
                <h1 class="items-center"><a href="#">This is a header</a></h2>
                <nav class="space-x-5 flex justify-end">
                    <a href="#" class="px-3">Nav 1</a>
                    <a href="#" class="px-3">Nav 2</a>
                    <a href="#" class="px-3">Nav 3</a>
                    <a href="#" class="px-3 pr-0">Nav 4</a>
                </nav>
            </div>
        </header>

        {{ content }}

        <footer class="px-5p my-5p md:flex grid grid-cols-2 gap-8 uppercase text-sm">
            <div class="">
                <p>Lorem Ipsum</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolore ducimus dolores.</p>
            </div>
            <div>
                <p>Lorem Ipsum</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolore ducimus dolores.</p>
            </div>

            <div class="shrink-0 md:pl-[15%] sm:text-right col-start-2">
                <label for="email" class="block">Subscribe to our newsletter</label>
                <input type="email" id="email" name="email" required class="text-black border border-black w-full mt-3">
                <button type="submit" class="block ml-auto border text-white bg-black border-black hover:text-black hover:bg-white hover:border-black transition px-4 py-1 tracking-widest uppercase">Subscribe</button>
            </div>
        </footer>
    </body>
</html>